* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
img,a,i{
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
a {text-decoration: none;}

body {
  background:#eee;
  overflow-x: hidden;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #551a8b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
